<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mezjh.kcaforum.common.index.dao.IndexMapper">
    <select id="getIndexTextList" resultType="com.mezjh.kcaforum.common.text.entity.TextInfo">
        SELECT t.id AS id,t.user_id AS userId,ty.id AS textTypeId,ty.type_name AS textTypeName,t.photo_preview,
        t.comment_count,t.like_count,t.title,t.content,t.preview,t.create_time,t.update_time,t.read_count
        FROM text t
        LEFT JOIN text_type ty ON t.text_type_id=ty.id
        ORDER BY create_time DESC
    </select>

    <select id="getRecommendUser" resultType="com.mezjh.kcaforum.user.info.entity.User">
        SELECT id AS userId,account_id AS accountId,nickname,photo_str,word_count,collection_like_count
        FROM user
        ORDER BY lately_up_time DESC
    </select>

    <select id="getUserInfoByUserId" parameterType="long" resultType="com.mezjh.kcaforum.user.info.entity.User">
        SELECT id AS userId,nickname,photo_url
        FROM user
        WHERE id=#{userId}
        LIMIT 1
    </select>
</mapper>