<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mezjh.kcaforum.admin.userma.dao.UserManageMapper">
    <select id="getUserByPageNum" resultType="com.mezjh.kcaforum.user.info.entity.User"
            parameterType="com.mezjh.kcaforum.admin.userma.vo.PageVO">
        SELECT * FROM user WHERE user_type=1 LIMIT #{pageNum},#{pageSize}
    </select>
</mapper>