<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mezjh.kcaforum.common.text.dao.TextMapper">

    <insert id="subText" parameterType="com.mezjh.kcaforum.common.text.entity.TextInfo">
        insert into
        text(id,user_id,text_type_id,title,content,preview,photo_preview,like_count,read_count,comment_count,create_time,update_time,status)
        values
            (null,#{userId},1,#{title},#{content},#{preview},#{photoPreview},0,0,0,#{createTime},#{updateTime},#{status})
    </insert>
    <select id="getTextListByUserId" parameterType="long" resultType="com.mezjh.kcaforum.common.text.entity.TextInfo">
        select * from text where user_id=#{id}
        order by update_time desc
    </select>
    <select id="getTextInfoById" parameterType="long" resultType="com.mezjh.kcaforum.common.text.entity.TextInfo">
        select * from text where id=#{id} limit 1
    </select>
    <update id="readCountAdd" parameterType="integer">
        update text
        set read_count=#{count}
    </update>
    <update id="updateText" parameterType="com.mezjh.kcaforum.common.text.entity.TextInfo">
        update text
        set title=#{title},
            content=#{content},
            preview=#{preview},
            update_time=#{updateTime},
            photo_preview=#{photoPreview},
            like_count=#{likeCount},
            user_like_ids=#{userLikeIds}
        where id=#{id}
    </update>
    <delete id="deleteText" parameterType="long">
        delete from text
        where id=#{id}
    </delete>
    <select id="getListByUserLikes" parameterType="list" resultType="com.mezjh.kcaforum.common.text.entity.TextInfo">
        select * from text
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>