<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mezjh.kcaforum.user.info.dao.UserInfoMapper">
    <select id="findUserExist" resultType="com.mezjh.kcaforum.user.info.entity.User"
            parameterType="com.mezjh.kcaforum.user.info.vo.RegisterVo">
        select username,phone from user where username=#{username} or phone=#{phone} limit 1
    </select>
    <insert id="register" parameterType="com.mezjh.kcaforum.user.info.entity.User">
         insert into user(id,username,password,phone,photo_url,nickname,create_time,update_time) values
            (null,#{username},#{password},#{phone},#{photoUrl},#{nickname},#{createTime},#{updateTime})
    </insert>
    <select id="findByUsername" resultType="com.mezjh.kcaforum.user.info.entity.User"
            parameterType="string">
        select * from user where username=#{username}
    </select>
    <update id="saveLateltTime" parameterType="com.mezjh.kcaforum.user.info.entity.User">
        update user set lately_up_time = #{latelyUpTime} where id = #{userId}
    </update>
    <select id="findUserById" parameterType="long" resultType="com.mezjh.kcaforum.user.info.entity.User">
        select * from user where id=#{id}
    </select>
    <select id="findUserByPhone" parameterType="string" resultType="com.mezjh.kcaforum.user.info.entity.User">
        select * from user where phone=#{phone}
    </select>
    <update id="addTextCount" parameterType="com.mezjh.kcaforum.user.info.entity.User">
        update user
        set text_count = #{textCount}
        where id = #{id}
    </update>
    <update id="updateLikeText"  parameterType="com.mezjh.kcaforum.user.info.entity.User">
        update user
        set like_text_ids = #{likeTextIds}
        where id = #{id}
    </update>
    <update id="addCommentCount">
        update user
        set comment_count=#{commentCount}
        where id = #{id}
    </update>

</mapper>