<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mezjh.kcaforum.user.info.dao.UserInfoMapper">
    <select id="findUserExist" resultType="com.mezjh.kcaforum.user.info.entity.User"
            parameterType="com.mezjh.kcaforum.user.info.vo.RegisterVo">
        select username,phone from user where username=#{username} or phone=#{phone}
    </select>
    <insert id="register" parameterType="com.mezjh.kcaforum.user.info.entity.User">
         insert into user(id,username,password,phone,photo_url,nickname) values
            (null,#{username},#{password},#{phone},#{photoUrl},#{nickname})
    </insert>

    <select id="getUserById" resultType="com.mezjh.kcaforum.user.info.entity.User" parameterType="long">
        select * from user where id=#{id}
    </select>

</mapper>